<div class="container">
    <div class="row m-4">
        <div class="col-sm-4">
            <img [src]="filteredProduct.imgSrc" />
        </div>
        <div class="col-sm-8">
            <h2>{{filteredProduct.name}}</h2>
            <h6><span class="badge bg-primary">{{filteredProduct.avgRating}}</span>
                <span>  {{filteredProduct.ratings}} Ratings & </span><span>{{filteredProduct.reviews}} Reviews</span></h6>
            <ul>
                <li *ngFor="let specify of filteredProduct.specifications">{{specify}}</li>
            </ul>
            <div>
                <h4 [ngClass]="{'text-danger': filteredProduct.price < 10000, 
                            'text-secondary': (filteredProduct.price > 10000 && filteredProduct.price < 15000), 
                            'text-primary': filteredProduct.price > 15000}">{{filteredProduct.price}}</h4>
                <button class="btn btn-success" *ngIf="filteredProduct.inStock === true; else noStock" (click)="addToCart()">Add to Cart</button>
                <ng-template #noStock>
                    <h6 class="text-danger">Out of Stock</h6>
                </ng-template>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link active" routerLink="/product-details/{{productName}}/specifications" aria-current="page" >Specifications</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" routerLink="/product-details/{{productName}}/rating-reviews">Rating & Reviews</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" routerLink="/product-details/{{productName}}/questions-answers">Questions and Answers</a>
                        </li>
                    </ul>
                    </div>
                </div>
            </nav>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>