<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Cart</h2>
        </div>
    </div>
    <ng-container *ngIf="cartProducts.length > 0; else noProducts">
        <div class="row my-4" *ngFor="let product of cartProducts">
            <div class="col-sm-3 text-center">
                <img [src]="product.imgSrc" height="200px" />
            </div>
            <div class="col-sm-6">
                <h4 (click)="navToProductDetails(product.name)" [ngStyle]="{'backgroundColor': getColor(product.name), 'color': product.name === 'POCO C31 (Royal Blue, 64 GB)' ? 'black': 'white'}">{{product.name}}</h4>        
                <h6>Quantity: {{product.quantity}}</h6>
            </div>
            <div class="col-sm-3 text-center">
                <h4 [ngClass]="{'text-danger': product.price < 10000, 
                                'text-secondary': (product.price > 10000 && product.price < 15000), 
                                'text-primary': product.price > 15000}">{{product.price}}</h4>
            </div>
        </div>
    </ng-container>
    <ng-template #noProducts>
        <div class="row text-center py-4 my-4">
            <div class="col-12">
                <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" width="150px" />
                <h4>Missing Cart items?</h4>
                <h6>Login to see the items you added previously</h6>
            </div>
        </div>
    </ng-template>
</div>