<div class="container">
    <div class="row my-4" *ngFor="let product of products">
        <div class="col-sm-3 text-center">
            <img [src]="product.imgSrc" height="200px" />
        </div>
        <div class="col-sm-6">
            <h4 [ngStyle]="{'backgroundColor': getColor(product.name), 'color': product.name === 'POCO C31 (Royal Blue, 64 GB)' ? 'black': 'white'}">{{product.name}}</h4>
            <h6><span class="badge bg-primary">{{product.avgRating}}</span>
            <span>  {{product.ratings}} Ratings & </span><span>{{product.reviews}} Reviews</span></h6>
            <ul>
                <li *ngFor="let specify of product.specifications">{{specify}}</li>
            </ul>
        </div>
        <div class="col-sm-3 text-center">
            <h4 [ngClass]="{'text-danger': product.price < 10000, 
                            'text-secondary': (product.price > 10000 && product.price < 15000), 
                            'text-primary': product.price > 15000}">{{product.price}}</h4>
            <button class="btn btn-success" *ngIf="product.inStock === true; else noStock">Add to Cart</button>
            <ng-template #noStock>
                <h6 class="text-danger">Out of Stock</h6>
            </ng-template>
        </div>
    </div>
</div>